<a href="https://colab.research.google.com/github/schenita/info5731/blob/master/BCIS_5140_HW2_SFloyd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Homework 2 - Learn the Basics modules of Python tutorial  
September 10, 2019 
By: Schenita Floyd
* Tutorial 1 Hello, World!

In [0]:
print("This line will be printed.")

This line will be printed.

In [0]:
# Indentation
x = 1
if x ==1:
    # indented four spaces
    print("x is 1.")

x is 1.

In [0]:
# Printing Hello, World then replacement phrase given by professor
print("Hello, World!")
print("Hi, my name is Schenita Floyd and I successfully installed Python. Hurray!!!")

Hello, World!
Hi, my name is Schenita Floyd and I successfully installed Python. Hurray!!!

In [0]:
print("Goodbye, World!")

Goodbye, World!

* Tutorial 2 Variable and Types

In [0]:
# Defining an integer
myint = 7
print(myint)

7

In [0]:
# Defining a floating point number
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [0]:
# Defining a String
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [0]:
# Importance of double quotes
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [0]:
# Simple operations using numbers and strings
one = 1
two =2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [0]:
# Assignments
a, b = 3, 4
print(a,b)

3 4

In [0]:
# Error when you mix operators between numbers and strings
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [0]:
# Correcting error
print(one + two)
print(hello)

3
hello

In [0]:
# Exercise
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

* Tutorial 3 Lists

In [0]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

1
2
3
1
2
3

In [0]:
# Generating an exception error because index doesn't exist
mylist = [1,2,3]
print(mylist[10])

IndexError: list index out of range

In [0]:
# Exercise
numbers = [1, 2, 3]
strings = ["hello", "world"]
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = [names[1]]


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is ['Eric']

* Tutorial 4 Basic Operators

In [0]:
# Arithmetic Operators
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [0]:
# Another operator % or divisor
remainder = 11 % 3
print(remainder)

2

In [0]:
# Show to the X Power by using two stars
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

In [0]:
# Operators with Strings
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [0]:
# Multiplying Strings
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

In [0]:
# Using Opertors with Lists
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [0]:
# Repeating lists
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [0]:
# Exercise
x = object()
y = object()

# TODO: change this code
x_list = [x] * 10 
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

* Tutorial 5 String Formatting

In [0]:
# Printing a greeting
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [0]:
# Using a tuple
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [0]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

Here are some basic argument specifiers you should know:
<br /> %s - String (or any object with a string representation, like numbers)
<br /> %d - Integers
<br /> %f - Floating point numbers
<br /> %.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.
<br /> %x/%X - Integers in hex representation (lowercase/uppercase)

In [0]:
# Exercise to print Hello John Doe. Your current balance is $53.44.
data = ("John", "Doe", 53.44)
format_string = "Hello"

print("%s " % format_string + "%s %s. Your current balance is $%.2f." % data)

Hello John Doe. Your current balance is $53.44.

* Tutorial 6 Basic String Operations

In [0]:
# Strings are text
astring = "Hello world!"
astring2 = 'Hello world!'

In [0]:
# Printing and using single quotes
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

In [0]:
astring = "Hello world!"
print(astring.index("o"))

4

In [0]:
astring = "Hello world!"
print(astring.count("l"))

3

In [0]:
astring = "Hello world!"
print(astring[3:7])

lo w

In [0]:
astring = "Hello world!"
print(astring[3:7:2])

l

In [0]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

In [0]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [0]:
# Lowercase versus uppercase
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [0]:
#Check if all letters are upper or lowercase
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [0]:
#Splitting strings
astring = "Hello world!"
afewwords = astring.split(" ")

In [0]:
print(afewwords)

['Hello', 'world!']

In [0]:
# Exercise
s = "Hey!  what do I ask?"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Hey! '
The next five characters are ' what'
The thirteenth character is 'o'
The characters with odd index are 'e! htd  s?'
The last five characters are ' ask?'
String in uppercase: HEY!  WHAT DO I ASK?
String in lowercase: hey!  what do i ask?
Split the words of the string: ['Hey!', '', 'what', 'do', 'I', 'ask?']

* Tutorial 7 Conditions

In [0]:
# Boolean Variables
# single equals operator "=", whereas comparison between two 
# variables is done using the double equals operator "==". The "not equals" operator is marked as "!=".
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

In [0]:
# Boolean operators
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [0]:
# In operator - Does an object exist
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [0]:
# if statements
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [0]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [0]:
# Is operator
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

True
False

In [0]:
# Not operator
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

In [0]:
# Exercise
# change this code
number = 16
second_number = False
first_array = [1,2,3]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

* Tutorial 8 Loops

In [0]:
# for Loop
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [0]:
# loops with range and xrange
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

0
1
2
3
4
3
4
5
3
5
7

In [0]:
# While loop
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [0]:
# Break and Continue
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

0
1
2
3
4
1
3
5
7
9

In [0]:
# Else Clause
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

0
1
2
3
4
count value reached 5
1
2
3
4

In [0]:
# Exercise to print out even numbers
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
# Prints out only even numbers - 2,4,6,8
for x in range(237):
    # Check if x is odd
    if x % 2 != 0:
        continue
    print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236

* Tutorial  9 Functions

In [0]:
# Functions are a convenient way to divide your code into useful blocks, 
# A block is a area of code of written in the format of
block_head:
    1st block line
    2nd block line

SyntaxError: invalid syntax (<ipython-input-145-79ea663ec735>, line 3)

In [0]:
# use def to define a function
def my_function():
    print("Hello From My Function!")

In [0]:
my_function()

Hello From My Function!

In [0]:
# Functions may also receive arguments
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

In [0]:
my_function_with_args( "Shay", "the best of both worlds")

Hello, Shay , From My Function!, I wish you the best of both worlds

In [0]:
# Functions return values
def sum_two_numbers(a, b):
    return a + b

In [0]:
sum_two_numbers(90, 99)

189

In [0]:
# Redoing the functions
# Define our 3 functions
def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a, b):
    return a + b

# print(a simple greeting)
my_function()

#prints - "Hello, John Doe, From My Function!, I wish you a great year!"
my_function_with_args("John Doe", "a great year!")

# after this line x will hold the value 3!
x = sum_two_numbers(1,2)

Hello From My Function!
Hello, John Doe , From My Function!, I wish you a great year!

In [0]:
x

3

In [0]:
# Exercise
# Modify this function to return a list of strings as defined above
def list_benefits():
    benefit = ["More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"]
    return(benefit)

# Modify this function to concatenate to each benefit - " is a benefit of functions!"
def build_sentence(benefit):
    return("%s is a benefit of functions!" % benefit)

def name_the_benefits_of_functions():
    list_of_benefits = list_benefits()
    for benefit in list_of_benefits:
        print(build_sentence(benefit))

name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!

* Tutorial 10 Classes and Objects

In [0]:
# Objects are an encapsulation of variables and functions into a single entity. 
# Objects get their variables and functions from classes. 
# Classes are essentially a template to create your objects.
# Example of a Class
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

In [0]:
# Assigning a class to an object
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

In [0]:
# Accessing the variable in a class
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.variable

'blah'

In [0]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

print(myobjectx.variable)

blah

In [0]:
# Multiple Objects
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "yackity"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

blah
yackity

In [0]:
# Accessing an object
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.function()

This is a message inside the class.

In [0]:
# Exercise
# define the Vehicle class
class Vehicle1:
    name = "Fer"
    kind = "convertible"
    color = "red"
    value = 60000
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str
    
class Vehicle2:
    name = "Jump"
    kind = "van"
    color = "blue"
    value = 10000
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str
    
# your code goes here
car1 = Vehicle1()
car2 = Vehicle2()



# test code
print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

Tutorial 11 Dictionaries

In [0]:
# A dictionary is a data type similar to arrays, but works with keys and values 
# instead of indexes. Each value stored in a dictionary can be accessed 
# using a key, which is any type of object (a string, a number, a list, etc.) instead of using its index to address it.
# A database of phone numbers could be stored using a dictionary like this
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [0]:
# Change in notation
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [0]:
# Dictionaries do not keep an order of the values stored in it
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [0]:
#removing a value
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [0]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("John")
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [0]:
# Exercise
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

# write your code here
phonebook["Jake"]  = 938273443
del phonebook["Jill"]

# testing code
if "Jake" in phonebook:
    print("Jake is listed in the phonebook.")
if "Jill" not in phonebook:
    print("Jill is not listed in the phonebook.")

Jake is listed in the phonebook.
Jill is not listed in the phonebook.

* Tutorial 12 Modules and Packages

In [0]:
## Per Professor: The last tutorial in the Learn the Basics is about modules and packages. 
# Do not try to run it. Just read it and try to understand.

# Taking a few notes for future reference
# A module is a piece of software that has a specific functionality. 
# Modules are imported from other modules using the import command.
# We may also import the function  directly into the main script's namespace, by using the from command.
# We may also use the import * command to import all objects from a specific module
# The first time a module is loaded into a running Python script, it is initialized by executing the code in the module once.
# Full list of built-in modules in the Python standard library
# Packages are namespaces which contain multiple packages and modules themselves