<a href="https://colab.research.google.com/github/schenita/info5731/blob/master/Floyd_selfstudy12_fastai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Schenita Floyd
# Self Study 12 with Fast.ai
!wget https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv

--2019-04-23 04:20:19--  https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684858 (669K) [text/plain]
Saving to: ‘customer_churn.csv.3’

customer_churn.csv. 100%[===================>] 668.81K  --.-KB/s    in 0.06s

2019-04-23 04:20:19 (10.5 MB/s) - ‘customer_churn.csv.3’ saved [684858/684858]

In [0]:
import pandas as pd
path = ('/')

In [0]:
df = pd.read_csv("customer_churn.csv", usecols = [3,4,5,6,7,8,9,10,11, 12,13])

In [25]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:
from fastai.tabular import *

In [0]:
procs = [FillMissing, Categorify, Normalize]
valid_idx = range(len(df)-2000, len(df))

In [0]:
dep_var = 'Exited'
cont_names = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']
cat_names = ['Geography','Gender', 'HasCrCard','IsActiveMember']

In [27]:
data = TabularDataBunch.from_df(path, df, dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names)
print(data.train_ds.cont_names)

['EstimatedSalary', 'NumOfProducts', 'Age', 'Tenure', 'CreditScore', 'Balance']

In [28]:
(cat_x,cont_x),y = next(iter(data.train_dl))
for o in (cat_x, cont_x, y): print(to_np(o[:5]))

[[2 2 2 2]
 [1 1 2 2]
 [2 1 2 2]
 [2 1 1 1]
 [1 1 2 1]]
[[-0.14159  -0.905501  2.098911 -0.697811  2.063315  1.041557]
 [ 0.411726 -0.905501  0.576729 -1.044506  1.50572   0.527802]
 [ 1.615615 -0.905501  3.050275  0.342275 -0.765968  1.017346]
 [ 0.745739 -0.905501 -0.184362  1.382361  0.669326  0.459829]
 [ 0.604378 -0.905501 -0.089226 -1.391202  1.392135 -1.230944]]
[0 0 1 1 1]

In [31]:
learn = tabular_learner(data, layers=[200,100], emb_szs={'Exited': 10}, metrics=accuracy)
learn.fit_one_cycle(5, 1e-2)

In [32]:
learn.predict(df.iloc[0])

(Category 0, tensor(0), tensor([0.6210, 0.3790]))