In [0]:
# Schenita Floyd Self Study 3
# Read Grus:  Chapter 9, 23
# Find all the codes from the textbooks, 
# and input them into a ipynb file, name it <LastName>_selfstudy3.ipynb

In [0]:
# Grus Chapter 9 Getting Data Code

In [0]:
# egrep.py 
import sys , re

In [0]:
# sys.argv is the list of command-line arguments 
# sys.argv[0] is the name of the program itself 
# sys.argv[1] will be the regex specified at the command line 
regex = sys.argv[1]

In [0]:
# for every line passed into the script 
for line in sys.stdin: 
    # if it matches the regex, write it to stdout 
    if re.search(regex, line): 
        sys.stdout.write(line)

In [0]:
#line_count.py
import sys

In [0]:
count = 0
for line in sys.stdin:
    count += 1

In [8]:
#print goes to sys.stdout
print (count)

0

In [0]:
cat SomeFile.txt | python egrep.py "[0-9]" | python line_count.py

In [0]:
type SomeFile.txt | egrep.py "[0-9]" | line_count.py
#This does not work because this is not a windows machine

In [0]:
# most_common_words.py 
import sys 
from collections import Counter

In [0]:
# pass in number of words as first argument 
try: 
    num_words = int(sys.argv[1])
except: 
    print ("usage: most_common_words.py num_words")
    sys.exit(1) # non-zero exit code indicates error

In [0]:
counter = Counter(word.lower() 
                  for line in sys.stdin 
                  for word in line.strip().split() 
                  if word)

In [0]:
for word, count in counter.most_common(num_words): 
    sys.stdout.write(str(count)) 
    sys.stdout.write(" \t ") 
    sys.stdout.write(word)
    sys.stdout.write("\n")

In [0]:
cat the_bible.txt | python most_common_words.py

In [0]:
# 'r' means read-only 
file_for_reading = open('reading_file.txt', 'r') 

# 'w' is write -- will destroy the file if it already exists! 
file_for_writing = open('writing_file.txt', 'w')
    
# 'a' is append -- for adding to the end of the file 
file_for_appending = open('appending_file.txt', 'a') 

# don't forget to close your files when you're done
file_for_writing.close()

In [0]:
with open('reading_file.txt','r') as f : 
    data = function_that_gets_data_from(f)
# at this point f has already been closed, so don't try to use it 
process(data)

In [0]:
starts_with_hash = 0 

with open('input.txt','r') as f: 
    for line in f: 
        if re.match("^#",line): 
            starts_with_hash += 1

In [0]:
def get_domain(email_address): 
    """split on '@' and return the last piece""" 
    return email_address.lower().split("@")[-1] 
with open('email_addresses.txt', 'r') as f: 
    domain_counts = Counter(get_domain(line.strip()) 
                            for line in f 
                            if "@" in line)

In [0]:
import csv

In [0]:
def process(date, symbol, price):
        print (date, symbol, price)
with open('tab_delimited_stock_prices.txt', 'r') as f: 
    reader = csv.reader(f, delimiter = ('/'))
    for row in reader: 
        date = row[0] 
        symbol = row[1] 
        closing_price = row[2] 
        process(date, symbol, closing_price)

In [0]:
with open('colon_delimited_stock_prices.txt', 'r') as f: 
    reader = csv.DictReader(f, delimiter = (':'))
    for row in reader: 
        date = str(row["date"]) 
        symbol = str(row["symbol"]) 
        closing_price = float(row["closing_price"]) 
        process(date, symbol, closing_price)

In [0]:
today_prices = { 'AAPL' : 90.91, 'MSFT' : 41.68, 'FB' : 64.5 }

In [0]:
with open('comma_delimited_stock_prices.txt','wb') as f: 
        writer = csv.writer(f, delimiter=',') 
        for stock, price in today_prices.items(): 
            writer.writerow([stock, price])

In [0]:
results = [["test1", "success", "Monday"], 
           ["test2", "success, kind of", "Tuesday"], 
           ["test3", "failure, kind of", "Wednesday"], 
           ["test4", "failure, utter", "Thursday"]]

In [0]:
# don't do this! 
with open('bad_csv.txt', 'w') as f: 
  for row in results: 
    f.write(",".join(map(str, row))) # might have too many commas in it! 
    f.write(" \n ") # row might have newlines as well

In [13]:
pip install html5lib

SyntaxError: ignored

In [0]:
from bs4 import BeautifulSoup 
import requests 
html = requests.get("http://www.example.com").text 
soup = BeautifulSoup(html, 'html5lib')

In [0]:
first_paragraph = soup.find('p')

In [0]:
first_paragraph_text = soup.p.text
first_paragraph_words = soup.p.text.split()

In [0]:
first_paragraph_id = soup.p['id'] 
first_paragraph_id2 = soup.p.get('id')

In [0]:
all_paragraphs = soup.find_all('p')

In [0]:
paragraphs_with_ids = [p for p in soup('p')
                      if 'important' in p.get('class', [])]

In [0]:
spans_inside_divs = [span
                    for div in soup('div')
                    for span in div('span')]

In [0]:
# you don't have to split the url like this unless it needs to fit in a book 
url = "http://shop.oreilly.com/category/browse-subjects/""data.do?sortby=publicationDate&page=1" 
soup = BeautifulSoup(requests.get(url).text, 'html5lib')

In [31]:

tds = soup('td', 'thumbtext')
len(tds)

0

In [55]:
def is_video(td):
  pricelabels = td('span','pricelabel')
  return len(pricelabels) == 1 and pricelabels[0].text.strip().startswith("Video")
len([td for td in tds if not is_video(td)])

0

In [0]:
title = td.find("div", "thumbheader").a.text

In [0]:
author_name = td.find('div', 'AuthorName').text 
authors = [x.strip() for x in re.sub("^By ", "", author_name).split(",")]

In [0]:
isbn_link = td.find("div", "thumbheader").a.get("href")

In [0]:
isbn = re.match("/product/(.*)\.do", isbn_link).group(1)

In [0]:
date = td.find("span", "directorydate").text.strip()

In [0]:
def book_info(td): 
  title = td.find("div", "thumbheader").a.text 
  by_author = td.find('div', 'AuthorName').text 
  authors = [x.strip() for x in re.sub("^By ", "", by_author).split(",")] 
  isbn_link = td.find("div", "thumbheader").a.get("href") 
  isbn = re.match("/product/(.*)\.do", isbn_link).groups()[0] 
  date = td.find("span", "directorydate").text.strip() 
    
  return { "title" : title, "authors" : authors, "isbn" : isbn, "date" : date}

In [0]:
from bs4 import BeautfulSoup
import requests
from time import sleep 
base_url = "http://shop.oreilly.com/category/browse-subjects/""data.do?sortby=publicationDate&page=" 
books = [] 
NUM_PAGES = 31
for page_num in range(1, NUM_PAGES + 1): 
  print "souping page", page_num, ",", len(books), " found so far" 
  url = base_url + str(page_num) 
  soup = BeautifulSoup(requests.get(url).text, 'html5lib') 
  for td in soup('td', 'thumbtext'): 
    if not is_video(td): 
      books.append(book_info(td)) 
    sleep(30)

In [0]:
def get_year(book): 
  return int(book["date"].split()[1]) 
# 2014 is the last complete year of data (when I ran this) 
year_counts = Counter(get_year(book) for book in books 
                      if get_year(book) <= 2014) 
import matplotlib.pyplot as plt 
years = sorted(year_counts) 
book_counts = [year_counts[year] for year in years] 
plt.plot(years, book_counts) 
plt.ylabel("# of data books") 
plt.title("Data is Big!") 
plt.show()

In [71]:
import json 
serialized = """{ "title" : "Data Science Book", "author" : "Joel Grus", "publicationYear" : 2014, "topics" : [ "data", "science", "data science"] }""" 
# parse the JSON to create a Python dict 
deserialized = json.loads(serialized) 
if "data science" in deserialized["topics"]: 
  print (deserialized)

{'title': 'Data Science Book', 'author': 'Joel Grus', 'publicationYear': 2014, 'topics': ['data', 'science', 'data science']}

In [0]:
import requests , json 
endpoint = "https://api.github.com/users/joelgrus/repos" 
repos = json.loads(requests.get(endpoint).text)

In [0]:
pip install python-dateutil

In [0]:
from dateutil.parser import parse  
dates = [parse(repo["created_at"]) for repo in repos] 
month_counts = Counter(date.month for date in dates) 
weekday_counts = Counter(date.weekday() for date in dates)

In [0]:
last_5_repositories = sorted(repos, key= lambda r: r["created_at"], reverse=True)[:5] 
last_5_languages = [repo["language"] for repo in last_5_repositories]

In [0]:
from twython import Twython 
twitter = Twython(CONSUMER_KEY, CONSUMER_SECRET) 
# search for tweets containing the phrase "data science" 
for status in twitter.search(q='"data science"')["statuses"]: 
  user = status["user"]["screen_name"].encode('utf-8') 
  text = status["text"].encode('utf-8') 
  print (user, ":", text)
  print()

In [0]:
from twython import TwythonStreamer 
# appending data to a global variable is pretty poor form 
# but it makes the example much simpler 
tweets = [] 
class MyStreamer (TwythonStreamer): 
  """our own subclass of TwythonStreamer that specifies how to interact with the stream""" 
  def on_success(self, data): 
    """what do we do when twitter sends us data? here data will be a Python dict representing a tweet""" 
    # only want to collect English-language tweets 
    if data['lang'] == 'en': 
      tweets.append(data) 
      print "received tweet #", len(tweets) 
      # stop when we've collected enough 
      if len(tweets) >= 1000: 
        self.disconnect() 
        def on_error(self, status_code, data): 
          print status_code, 
          data self.disconnect()

In [0]:
stream = MyStreamer(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_TOKEN_SECRET) 
# starts consuming public statuses that contain the keyword 'data' 
stream.statuses.filter(track='data')

In [0]:
top_hashtags = Counter(hashtag['text'].lower() 
                       for tweet in tweets f
                       or hashtag in tweet["entities"]["hashtags"]) 
print top_hashtags.most_common(5)

In [0]:
# Grus Chapter 23 Database and SQL

In [0]:
users = [[0, "Hero", 0], 
         [1, "Dunn", 2], 
         [2, "Sue", 3], 
         [3, "Chi", 3]]

In [0]:
class Table: 
  def __init__(self, columns): 
    self.columns = columns 
    self.rows = [] 
    
    def __repr__(self): 
      """pretty representation of the table: columns then rows"""
      return str(self.columns) + " \n " + " \n ".join(map(str, self.rows)) 
    
    def insert(self, row_values): 
      if len(row_values) != len(self.columns): 
        raise TypeError ("wrong number of elements") 
        row_dict = dict(zip(self.columns, row_values)) 
        self.rows.append(row_dict)

In [0]:
users = Table(["user_id" , "name", "num_friends"]) 
users.insert([0, "Hero", 0]) 
users.insert([1, "Dunn", 2]) 
users.insert([2, "Sue", 3]) 
users.insert([3, "Chi", 3]) 
users.insert([4, "Thor", 3]) 
users.insert([5, "Clive", 2]) 
users.insert([6, "Hicks", 3]) 
users.insert([7, "Devin", 2]) 
users.insert([8, "Kate", 2]) 
users.insert([9, "Klein", 3]) 
users.insert([10, "Jen", 1])

In [7]:
print (users)

<__main__.Table object at 0x7f8e63014cf8>

In [0]:
def update(self, updates, predicate): 
  for row in self.rows: 
    if predicate(row): 
      for column, new_value in updates.iteritems(): 
        row[column] = new_value

In [0]:
users.update({'num_friends' : 3},
            lambda row: row['user_id'] == 1)

In [0]:
def delete(self, predicate=lambda row: True):
  self.rows = [row for row in self.rows if not (predicate(row))]

In [0]:
users.delete(lambda row: row["user_id"] == 1)

In [0]:
users.delete()

In [0]:
def select(self, keep_columns=None, additional_columns=None): 
  if keep_columns is None: 
    keep_columns = self.columns 
    if additional_columns is None: 
      additional_columns = {}
      result_table = Table(keep_columns + additional_columns.keys()) 
      for row in self.rows: 
        new_row = [row[column] for column in keep_columns] 
        for column_name, calculation in additional_columns.iteritems(): 
          new_row.append(calculation(row)) 
          result_table.insert(new_row) 
          
          return result_table

In [0]:
def where(self, predicate= lambda row: True): 
  where_table = Table(self.columns) 
  where_table.rows = filter(predicate, self.rows) 
  return where_table 

def limit(self, num_rows): 
  """return only the first num_rows rows""" 
  limit_table = Table(self.columns) 
  limit_table.rows = self.rows[:num_rows] 
  return limit_table

In [0]:
users.select()

In [0]:
users.limit(2)

In [0]:
users.select(keep_columns=["user_id"])

In [0]:
# SELECT user_id FROM users WHERE name = 'Dunn'; 
users.where( lambda row: row["name"] == "Dunn")\
  .select(keep_columns=["user_id"]) 

# SELECT LENGTH(name) AS name_length FROM users; 
def name_length(row): return len(row["name"]) 

users.select(keep_columns=[], 
             additional_columns = { "name_length" : name_length })

In [0]:
def group_by(self, group_by_columns, aggregates, having=None): 
  
  grouped_rows = defaultdict(list) 
  for row in self.rows: 
    key = tuple(row[column] for column in group_by_columns) 
    grouped_rows[key].append(row) 
    
    # result table consists of group_by columns and aggregates 
    result_table = Table(group_by_columns + aggregates.keys()) 
    
    for key, rows in grouped_rows.iteritems(): 
      if having is None or having(rows): 
        new_row = list(key) 
        for aggregate_name, aggregate_fn in aggregates.iteritems(): 
          new_row.append(aggregate_fn(rows)) 
        result_table.insert(new_row) 
        
      return result_table

In [0]:
def min_user_id(rows): return min(row["user_id"] for row in rows)

In [0]:
stats_by_length = users
select(additional_columns={"name_length" : name_length}) 
group_by(group_by_columns=["name_length"], 
            aggregates={ "min_user_id" : min_user_id, "num_users" : len })

In [0]:
def first_letter_of_name(row): 
  return row["name"][0] if row["name"] else "" 

def average_num_friends(rows): 
  return sum(row["num_friends"] for row in rows) / len(rows) 

def enough_friends(rows): 
  return average_num_friends(rows) > 1 

avg_friends_by_letter = users
select(additional_columns={'first_letter' : first_letter_of_name}) 
group_by(group_by_columns=['first_letter'], 
            aggregates={ "avg_num_friends" : average_num_friends }, 
            having=enough_friends)

In [0]:
def sum_user_ids(rows): return sum(row["user_id"] for row in rows) 

user_id_sum = users 
where( lambda row: row["user_id"] > 1) 
group_by(group_by_columns=[], 
        aggregates={ "user_id_sum" : sum_user_ids })

In [0]:
def order_by(self, order): 
  new_table = self.select() 
  new_table.rows.sort(key=order) 
  return new_table

In [0]:
friendliest_letters = avg_friends_by_letter 
order_by(lambda row: -row["avg_num_friends"]) 
limit(4)

In [0]:
user_interests = Table(["user_id", "interest"]) 
user_interests.insert([0, "SQL"]) 
user_interests.insert([0, "NoSQL"]) 
user_interests.insert([2, "SQL"]) 
user_interests.insert([2, "MySQL"])

In [0]:
def join(self, other_table, left_join=False): 
  join_on_columns = [c for c in self.columns 
                     if c in other_table.columns]
  additional_columns = [c for c in other_table.columns
                        if c not in join_on_columns]   
  join_table = Table(self.columns + additional_columns) 
  
  for row in self.rows: 
    def is_join(other_row): 
      return all(other_row[c] == row[c] for c in join_on_columns) 
    other_rows = other_table.where(is_join).rows  
    for other_row in other_rows: 
      join_table.insert([row[c] for c in self.columns] + [other_row[c] for c in additional_columns]) 
  
  if left_join and not other_rows: 
    join_table.insert([row[c] for c in self.columns] +
    return join_table

In [0]:
sql_users = users
join(user_interests)
where( lambda row: row["interest"] == "SQL")
select(keep_columns=["name"])
  
def count_interests(rows):
  return len([row for row in rows if row["interest"] is not None]) 
  
user_interest_counts = users
join(user_interests, left_join=True)
group_by(group_by_columns=["user_id"], 
         aggregates={"num_interests" : count_interests })

In [0]:
likes_sql_user_ids = user_interests
where( lambda row: row["interest"] == "SQL")
select(keep_columns=['user_id']) 

likes_sql_user_ids.group_by(group_by_columns=[], 
                            aggregates={ "min_user_id" : min_user_id })

In [0]:
user_interests where(lambda row: row["interest"] == "SQL") join(users) select(["name"])

In [0]:
user_interests 
join(users) 
where(lambda row: row["interest"] == "SQL") 
select(["name"])